.navbar {
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:#38bdf8;
    color:white;
    padding: 0 100px ;
    height :60px;
}
.navbar ul {
    display:flex;
    align-items:center;
    justify-content:space-between;

}
.navbar ul li a {
    padding: 0 10px;
    text-decoration: none;
    color :white;
    font-size:18px;
}
.navbar .btn a:hover {
    color:#334155
}